* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 130px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 95%;
}

.main-container {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
    /* border: solid blue 8px; */
}
.artist-container {
    height:700px;
    width:1100px;
    /* border: 10px solid rgb(245, 239, 239); */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 12Px; 
    
}
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(145, 2, 2);
    /* border: 8px solid rgb(221, 40, 40) */
    border-radius: 5%;
    opacity: 95%;
    height: 400px;
    width: 280px;    
}

/* .card-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.card-one-icon {
position: absolute;
padding-top: 1%;
padding-left: 1%; 
cursor: pointer;
}

.nav {
    font-size: 20px;
    padding-left: 7%; 
}

.box {
    height: 100%;
    width: 100%;
  }

.nav-area-one {
    display: flex;
    flex-direction: row;
    padding-top: 4.4%;
 
}
.indent {
    padding-left: 19px;
    padding-top: 5px;
    ;
}

.nav-area-two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 8%;
    padding-top: 1.5% 
}

h1{
    padding-bottom: 1.5px;
    font-size: 10px;
}

h2 {
    font-size: 50px;
}

.profile-text {
    font-size: 15px;
    color: rgb(209, 209, 209);
}

.profile-icon{
    padding-right: 10px;
}

body {  
    margin: 0;
    background-image: url(images/immo-wegmann-OXhQHGiez_k-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% ;
  }
  .card-photo {
    border-radius: 5% 5% 50% 50%;
    height: 253px;
    width: 280px;
    object-fit: cover;
  }

  